/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #22223b;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  background-color: #f2e9e4;
  display: flex;
  flex-direction: column;
  font-family: arial,sans-serif;
}

/* styles du header */
header{
  background-color: #4a4e69;
  color:#f2e9e4;
  width: 70%;
  padding: 0 15%;
  text-align: left;
  display: flex;
  flex-direction: row;
}


header section{
  width: 75%;
}

header section h1{
  margin-bottom: 0px;
}

header section h2{
  margin-top: 0px;
  font-weight: normal;
}

.reseaux_sociaux{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 0.67em;
  width: 25%;
}

.reseaux_sociaux div{
  margin-right: 1em;
}

/* styles de la partie principale  */
main{
  display: flex;
  flex-direction: column;
}


.aside_left{
  width:40%;
}

.aside_left section h2{
  border-bottom: 1px solid #22223b;
}

.div_contact{
  display: flex;
  flex-direction: column;
}

.contact{
  display: flex;
  flex-direction: row;
}

.div_photo{
  width: 40%;
  padding: 3%;
}

.div_photo img {
  border-radius: 50% 50%;
}


.contact_info{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact_info div{
  display: flex;
  flex-direction: row;
  margin-bottom : 0.5em;
  margin-right: 1em;
}

.content{
  padding-top: 5px;
}


.div_right{
  width:58%;
  margin-right: 2%;
}

.div_right section h2 {
  border-bottom: 1px solid #22223b;
}

#competences{
  width: 100%;
  background-color: #c9ada7;
  padding-bottom: 1em;
}

#competences section{
  width: 70%;
  margin: 0 auto;
}

#competences h2{
  text-align: center;
}

.div_competences{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.div_competences article {
  width:30%;
  background-color: #f2e9e4;
  border: 1px solid #c9ada7;
  padding: 0.3em 0.6em;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.div_competences article div{
  text-align: center;
}

.div_competences article h3{
  color:#22223b;
  margin-bottom: 0;
}

.div_competences article ul{
  list-style: none;
  margin: 0;
  padding: 0;
}



.div_container{
  display: flex;
  flex-direction: row;
  width: 70%;
margin: 0 auto;
}

#experiences article h3, h4{
  margin:0;
}

#experiences article h4{
  font-weight: normal;
}

#experiences article ul{
  margin:5px 0 30px 0;
}

#experiences article p{
  margin:5px 0 30px 0;
}

.mb10{
  margin-bottom: 10px !important;
}

#formations article {
  margin-bottom: 1em;
}

#formations article h3, h4{
  margin:0;
}

#formations article h4{
  font-weight: normal;
}


/* styles du footer */
footer{
  background-color: #4a4e69;
  color:#f2e9e4;
  width: 70%;
  padding: 0 15%;
  text-align: left;
  display: flex;
  flex-direction: row;
}


footer section{
  width: 75%;
}

footer section h1{
  margin-bottom: 0px;
}

footer section h2{
  margin-top: 0px;
  font-weight: normal;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
